/* 공통 스타일 */
body {
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 12px;
  font-weight: 400;
  /* height: 3000px; */
  line-height: 1.3;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  background-color: #5A80C9;
  color: #fff;
  border: 3px solid #fff;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 25px;
  margin: 5px;
}
.btn:hover {
  background-color: #fff;
  color: #5A80C9;
  border: 3px solid #5A80C9;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 25px;
  margin: 5px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

.copyright h2 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 10px;
}
.copyright p {
  font-size: 24px;
  font-weight: 400;
  padding-top: 30px;
}

.favorite span {
  color: #ff0000;
  padding: 5px;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-up {
  transform: translateY(150px);
}
.back-to-position.to-down {
  transform: translateY(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateY(0);
}

/* 헤더 */
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 11;
}
header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 20px;
  font-weight: 700;
}
header .logo a {
  color: #4c6eac;
}

header .main-menu .main-title {
  display: flex;
}
header .main-menu .main-title li {
  position: relative;
}
header .main-menu .main-title > li > a {
  font-size: 14px;
  display: block;
  padding: 15px 20px;
  margin: 0 20px;
  /* background-color: cadetblue; */
}
header .main-menu .main-title li ul {
  width: 100px;
  background-color: #fff;
  position: absolute;
  left: 5px;
  padding: 20px 0;
  display: none;
  z-index: 9;
}
header .main-menu .main-title > li:hover > a {
  color: #4c6eac;
}
header .main-menu .main-title > li:hover > ul {
  display: block;
}
header .main-menu .main-title li ul li {
  text-align: center;
}
header .main-menu .main-title li ul li + li {
  padding-top: 25px;
}
header .main-menu .main-title li ul li a {
  font-size: 12px;
  font-weight: 600;
}
header .main-menu .main-title li ul li:hover a {
  color: #4c6eac;
}

/* 모바일용 메뉴 */
header .btn-hamburger {
  color: #5A80C9;
  display: none;
  position: absolute;
  right: 0;
}
header .btn-hamburger span {
  font-size: 30px;
}
header .m-menu {
  background-color: #c2d6fc;
  height: 100vh;
  padding: 80px 10px 0;
  position: fixed;
  top: 0;
  right: -50%;
  display: none;
}
header .m-menu.active {
  display: block;
  right: 0;
}
header .btn-close span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
header .btn-close span:hover {
  color: #fff;
}
header .m-menu .m-btn-header .btn {
  background-color: #5A80C9;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px 30px;
  margin: 10px;
}
header .m-menu .m-btn-header .btn:hover {
  background-color: #fff;
  color: #5A80C9;
  border: 3px solid #5A80C9;
}

header .m-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
header .m-menu ul li {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.5;
}
  header .m-menu ul li:hover a {
  color: #fff;
}

/* dumpling */
.dumpling {
  margin-top: 100px;
}
.dumpling .inner {
  color: #e9e9e9;
  background-color: #000;
  height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dumpling .copyright {
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.dumpling .copyright .fade-in {
  opacity: 0;
}
.dumpling img {
  width: 650px;
  height: 480px;
}

/* search */

.search-view .inner {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-view .inner::before {
  content: "";
  background-image: url("../image/search-view_bg.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.search-view .copyright h2 {
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 10px 7px 10px;
}
.search-view .copyright p {
  font-weight: 500;
}
.search-view label {
  margin-top: 50px;
}
.search-view label {
  display: flex;
  align-items: center;
  position: relative;
}
.search-view label .material-icons {
  font-size: 25px;
  color: #686767;
  position: absolute;
  left: 20px;
}
.search-view label #search-dumpling {
  width: 600px;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: 3px solid #535252;
  outline: none;
  padding: 0 60px;
  box-sizing: border-box;
}
.search-view label #search-dumpling:focus {
  border-color: #4c6eac;
}

/* youtube-share */
.youtube-share .inner {
  height: 480px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.youtube-shere .youtube__area #player {
  width: 640px;
  height: 360px;
}
.youtube-share .share .copyright {
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  position: relative;
}
.youtube-share .share .copyright .btn {
  position: absolute;
  right: 115px;
  bottom: -70px;
}

/* new & map */
.new-map .inner {
  height: 450px;
  background-color: #F3F7FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.new-map .new {
  /* background-color: bisque; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-map .new h3 {
  margin-bottom: 103px;
}
.new-map .new .swiper {
  width: 550px;
}
.new-map .new .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.new-map .new .swiper .swiper-wrapper .swiper-slide:hover .title {
  color: #5A80C9;
}
.new-map .new .swiper .swiper-wrapper .swiper-slide img {
  width: 250px;
  height: 188px;
}
.new-map .new .swiper .swiper-wrapper .swiper-slide span {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.new-map .new .swiper .swiper-button-prev,
.new-map .new .swiper .swiper-button-next {
  width: 25px;
  height: 210px;
  /* border: 2px solid #000; */
  position: absolute;
  top: 22px;
  color: #000;
}
.new-map .new .swiper .swiper-button-prev {
  left: -12px;
  margin-left: 4px;
}
.new-map .new .swiper .swiper-button-next {
  right: -12px;
  margin-right: 4px;
}
.new-map .new .swiper .swiper-button-prev:hover,
.new-map .new .swiper .swiper-button-next:hover {
  color: #5A80C9;
}
.new-map .new .swiper .swiper-button-prev::after,
.new-map .new .swiper .swiper-button-next::after {
  display: none;
}
.new-map .new .swiper .swiper-button-prev span,
.new-map .new .swiper .swiper-button-next span {
  font-size: 30px;
}
.new-map .map h3 {
  margin-bottom: 70px;
}
.new-map .map > .map-group {
  display: flex;
  justify-content: center;
}
.new-map .map .map-group .copyright {
  position: relative;
  margin-right: 35px;
}
.new-map .map .map-group .copyright p {
  text-align: center;
  padding-top: 32px;
  font-weight: 500;
}
.new-map .map .map-group .copyright .btn {
  position: absolute;
  width: 101px;
  height: 24px;
  bottom: 22px;
  right: -19px;
  transition: 1s;
}
.new-map .map .map-group img {
  width: 300px;
  height: 230px;
}

/* best & product review */
.best-product .inner {
  height: 450px;
  display: flex;
  /* background-color: azure; */
  justify-content: space-around;
  align-items: center;
}
.best-product .best {
  /* background-color: bisque; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.best-product .best h3 {
  margin-bottom: 103px;
}
.best-product .best .swiper {
  width: 550px;
}
.best-product .best .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.best-product .best .swiper .swiper-wrapper .swiper-slide:hover .title {
  color: #5A80C9;
}
.best-product .best .swiper .swiper-wrapper .swiper-slide img {
  width: 250px;
  height: 188px;
}
.best-product .best .swiper .swiper-wrapper .swiper-slide span {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.best-product .best .swiper .swiper-button-prev,
.best-product .best .swiper .swiper-button-next {
  width: 25px;
  height: 210px;
  /* border: 2px solid #000; */
  position: absolute;
  top: 22px;
  color: #000;
}
.best-product .best .swiper .swiper-button-prev {
  left: -12px;
  margin-left: 4px;
}
.best-product .best .swiper .swiper-button-next {
  right: -12px;
  margin-right: 4px;
}
.best-product .best .swiper .swiper-button-prev:hover,
.best-product .best .swiper .swiper-button-next:hover {
  color: #5A80C9;
}
.best-product .best .swiper .swiper-button-prev::after,
.best-product .best .swiper .swiper-button-next::after {
  display: none;
}
.best-product .best .swiper .swiper-button-prev span,
.best-product .best .swiper .swiper-button-next span {
  font-size: 30px;
}

.best-product .product-review {
  width: 480px;
}
.best-product .product-review h3 {
margin-bottom: 95px;
}
.best-product .product-review .product-list {
  margin-left: 10px;
  height: 220px;
}
.best-product .product-review .product-list li {
  font-size: 18px;
  line-height: 2.5;
}
.best-product .product-review .product-list li:hover {
  color: #5A80C9;
  font-weight: 600;
  cursor: pointer;
}

/* delivery */

.delivery .inner {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.delivery .inner::before {
  content: "";
  background-image: url("../image/delivery-bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.delivery .copyright {
  text-align: center;
  margin-bottom: 50px;
}
.delivery .copyright h2 {
  text-shadow: rgba(0, 0, 0, 0.2) 10px 7px 10px;
}
.delivery .copyright p {
  font-weight: 600;
}
  .delivery .delivery-service a img {
  width: 100px;
  margin: 10px;
}
.delivery .delivery-service a img:first-child {
  border-radius: 10px;
}
.delivery .delivery-service a:hover img {
  transform: scale(1.2);
}

/* footer */
footer {
  background-color: #F3F7FF;
}
footer .inner {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
}
footer .logo h2 {
  font-size: 20px;
  font-weight: 600;
}
footer .bottom-menu {
  margin-bottom: 10px;
}
footer .bottom-menu ul {
  display: flex;
  justify-content: center;
}
footer .bottom-menu ul li {
  font-size: 15px;
}
footer .bottom-menu ul li:hover {
  color: #5A80C9;
  cursor: pointer;
}
footer .bottom-menu ul li + li {
  padding-left: 30px;
}
footer .sns a img {
  width: 25px;
  height: 25px;
}
footer .sns a + a {
  margin-left: 25px;
}
footer .info ul {
  display: flex;
}
footer .info ul li + li {
  padding-left: 30px; 
}
footer .copyright p {
  margin: 10px 0 10px;
}

/* to-top 버튼 */
#to-top {
  width: 40px;
  height: 40px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #5A80C9;
  border: 3px solid #5A80C9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
}
#to-top:hover {
  background-color: #5A80C9;
  color: #fff;
  border: 3px solid #fff;
}
#to-top span{
  font-size: 30px;
}

/* 즐겨찾기 창 */
#favorite-icon {
  background-color: #c2d6fc;
  width: 40px;
  height: 100px;
  border: 3px solid #4c6eac9d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 190px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
}
#favorite-icon:hover {
  background-color: #fff;
  color: #5A80C9;
}
.favorite-view {
  background-color: #4949496b;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 12;
}
.favorite-view.active {
  display: block;
}
.favorite-view .favorite-bg {
  background-color: #fff;
  border: 5px solid #415e94;
  border-radius: 10px;
  width: 900px;
  height: 900px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.favorite-view .favorite-bg .favorite-list {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}
.favorite-view .favorite-bg .favorite-list .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.favorite-view .favorite-bg .favorite-list .btn-close:hover {
  color: #4c6eac;
}
.favorite-view .favorite-bg .favorite-list h2 {
  color: #415e94;
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.favorite-view .favorite-bg .favorite-list p {
  color: #4a576e;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.favorite-view .favorite-bg .favorite-list .content {
  margin: 0 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.favorite-view .favorite-bg .favorite-list .content img {
  width: 250px;
  height: 188px;
}
.favorite-view .favorite-bg .favorite-list .content span {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.favorite-view .favorite-bg .favorite-list .content:hover span {
  color: #5A80C9;
}


@media screen and (max-width: 1060px) {
  header .inner {
    justify-content: space-around;
  }
  header .main-menu {
    display: none;
  }
  header .btn-header {
    display: none;
  }
  header .btn-hamburger {
    display: block;
    }
  
  .dumpling .inner {
    height: 980px;
    flex-wrap: wrap;
    justify-content: center;
    }
  .dumpling .inner .copyright {
    padding-top: 30px;
  }
  .dumpling .inner img {
    width: 800px;
  }
  
  .youtube-share .inner {
    height: 1000px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .youtube-share .youtube-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .youtube-share .youtube-area #player {
    margin-top: 20px;
    width: 960px;
    height: 540px;
  }
  .youtube-share .share {
    height: 290px;
  }
  .youtube-share .share .copyright .btn {
    bottom: -80px;
    right: 104px;
  }
  
  .new-map .inner {
    height: 1035px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .new-map .new {
    width: 100%;
    margin: 40px;
  }
  .new-map .new .swiper {
    width: 800px;
  }
  .new-map .new .swiper .swiper-wrapper .swiper-slide img {
    width: 320px;
    height: 240px;
  }
  .new-map .new .swiper .swiper-wrapper .swiper-slide span {
    font-size: 23px;
    font-weight: 500;
    margin-top: 15px;
  }
  .new-map .map {
    width: 100%;
    margin: 40px;
  }
  .new-map .map h3 {
    margin-bottom: 60px;
  }
  .new-map .map .map-group .copyright {
    margin-right: 50px;
  }
  .new-map .map .map-group .copyright p {
    font-size: 30px;
    padding-top: 60px;
  }
  .new-map .map .map-group .copyright .btn {
    bottom: 35px;
    right: -1px;
  }
  .new-map .map .map-group img {
    width: 450px;
    height: 300px;
  }
  
  .best-product .inner {
    height: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .best-product .best {
    width: 100%;
    margin: 40px;
  }
  .best-product .best .swiper {
    width: 800px;
  }
  .best-product .best .swiper .swiper-wrapper .swiper-slide img {
    width: 320px;
    height: 240px;
  }
  .best-product .best .swiper .swiper-wrapper .swiper-slide span {
    font-size: 23px;
    font-weight: 500;
    margin-top: 15px;
  }
  .best-product .product-review {
    width: 100%;
    margin: 40px;
  }
  .best-product .product-review h3 {
    margin-bottom: 60px;
  }
  .best-product .product-review .product-list li {
    font-size: 20px;
    line-height: 2.8;
  }

  .favorite-view .favorite-bg {
    width: 650px;
    height: 750px;
  }
}


@media screen and (max-width: 800px) {
  .dumpling .inner {
    height: 700px;
    flex-wrap: wrap;
    justify-content: center;
    }
  .dumpling .inner img {
    width: 500px;
    height: 340px;
  }
  
  .search-view label #search-dumpling {
    width: 455px;
  }

  .new-map .inner {
    height: 1245px;
  }
  .new-map .new .swiper {
    width: 370px;
  }
  .new-map .map {
    width: 100%;
    margin: 40px;
  }
  .new-map .map h3 {
    margin-bottom: 35px;
  }
  .new-map .map .map-group {
    flex-wrap: wrap;
  }
  .new-map .map .map-group .copyright {
    margin: 0;
  }
  .new-map .map .map-group .copyright p {
    font-size: 30px;
    padding: 0 0 118px;
  }
  
  .best-product .inner {
    height: 950px;
  }
  .best-product .best .swiper {
    width: 370px;
  }
  .best-product .product-review h3 {
    margin-bottom: 60px;
  }
  .best-product .product-review .product-list li {
    font-size: 17px;
  }

  .delivery .copyright h2 {
    font-size: 27px;
  }
  .delivery .copyright p {
    font-size: 20px;
  }

  .favorite-view .favorite-bg {
    width: 460px;
    height: 715px;
    overflow: auto;
  }
  .favorite-view .favorite-bg .favorite-list {
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
.dumpling .inner img {
  width: 390px;
  height: 280px;
}
.search-view .copyright h2 {
  font-size: 40px;
}
.search-view .copyright p {
  font-size: 20px;
}
.search-view label #search-dumpling {
  width: 370px;
}
.best-product .product-review .product-list li {
  font-size: 13px;
}
.delivery .copyright h2 {
  font-size: 20px;
}
.delivery .copyright p {
  font-size: 16px;
}

.favorite-view .favorite-bg {
  width: 320px;
}
.favorite-view .favorite-bg .favorite-list h2 {
  font-size: 30px;
}
.favorite-view .favorite-bg .favorite-list p {
  font-size: 14px;
}
.favorite-view .favorite-bg .favorite-list .content img {
  width: 200px;
  height: 150px;
}

footer .inner {
  height: 342px;
}
footer .bottom-menu ul li {
  font-size: 10px;
}
}