/* 공통 스타일 */
body {
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 12px;
  font-weight: 400;
  /* height: 3000px; */
  line-height: 1.3;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  background-color: #5A80C9;
  color: #fff;
  border: 3px solid transparent;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 30px;
  margin: 5px;
}
.btn:hover {
  background-color: #fff;
  color: #5A80C9;
  border: 3px solid #5A80C9;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

/* 헤더 */
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 11;
}
header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 20px;
  font-weight: 700;
}
header .logo a {
  color: #4c6eac;
}

header .main-menu .main-title {
  display: flex;
}
header .main-menu .main-title li {
  position: relative;
}
header .main-menu .main-title > li > a {
  font-size: 14px;
  display: block;
  padding: 15px 20px;
  margin: 0 20px;
  /* background-color: cadetblue; */
}
header .main-menu .main-title li ul {
  width: 100px;
  background-color: #fff;
  position: absolute;
  left: 5px;
  padding: 20px 0;
  display: none;
  z-index: 9;
}
header .main-menu .main-title > li:hover > a {
  color: #4c6eac;
}
header .main-menu .main-title > li:hover > ul {
  display: block;
}
header .main-menu .main-title li ul li {
  text-align: center;
}
header .main-menu .main-title li ul li + li {
  padding-top: 25px;
}
header .main-menu .main-title li ul li a {
  font-size: 12px;
  font-weight: 600;
}
header .main-menu .main-title li ul li:hover a {
  color: #4c6eac;
}

/* 모바일용 메뉴 */
header .btn-hamburger {
  color: #5A80C9;
  display: none;
  position: absolute;
  right: 0;
}
header .btn-hamburger span {
  font-size: 30px;
}
header .m-menu {
  background-color: #c2d6fc;
  height: 100vh;
  padding: 80px 10px 0;
  position: fixed;
  top: 0;
  right: -50%;
  display: none;
}
header .m-menu.active {
  display: block;
  right: 0;
}
header .btn-close span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
header .btn-close span:hover {
  color: #fff;
}
header .m-menu .m-btn-header .btn {
  background-color: #5A80C9;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px 30px;
  margin: 10px;
}
header .m-menu .m-btn-header .btn:hover {
  background-color: #fff;
  color: #5A80C9;
  border: 3px solid #5A80C9;
}

header .m-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
header .m-menu ul li {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.5;
}
  header .m-menu ul li:hover a {
  color: #fff;
}

/* search */
.search-view {
  margin-top: 100px;
}
.search-view .inner {
  background-color: #F3F7FF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-view .search-group {
  display: flex;
  position: relative;
}
.search-view .search-group #search{
  width: 650px;
  height: 40px;
  font-size: 16px;
  border: 3px solid #415e94;
  border-radius: 15px;
  outline: none;
  padding: 0 30px 0;
}
.search-view .search-group .material-icons {
  font-size: 38px;
  position: absolute;
  right: 12px;
  bottom: 3px;
}

/* store slide */
.store-slide .inner {
  border-top: 1px solid #a3a4a770;
  max-width: 1100px;
  overflow: hidden;
}
.store-slide .swiper {
  width: calc(450px * 3 + 10px * 2);
  height: 300px;
  flex-shrink: 0;
}
.store-slide .swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
}
.store-slide .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}
.store-slide .swiper .swiper-wrapper .swiper-slide img {
  width: 450px;
  height: 300px;
}
.store-slide .swiper-button-prev,
.store-slide .swiper-button-next {
  color: #4c6eac;
  position: absolute;
  top: 0;
  width: 50px;
  height: 322px;
}

/* store header */
.store-header .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #a3a4a770;
  position: relative;
}
.store-header .store-title {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.store-header .store-title span {
  margin-left: 10px;
}
.store-header p {
  padding-bottom: 20px;
  font-size: 15px;
}
.store-header .store-score {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.store-header .store-score .material-icons {
  color: #FF0000;
}
.store-header .store-score span:last-child {
  font-size: 20px;
  margin-left: 5px;
}
.store-header .favorite_view {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-bottom: 10px;
}
.store-header .favorite_view .material-icons {
  padding-right: 4px;
  font-size: 15px;
}
.store-header .favorite_view .favorite-score,
.store-header .favorite_view .view-score,
.store-header .favorite_view .comment-number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-header .favorite_view .favorite-score span:last-child,
.store-header .favorite_view .view-score span:last-child,
.store-header .favorite_view .comment-number span:last-child {
  font-size: 15px;
}
.store-header .material-icons + span {
  padding-right: 10px;
}

/* store-btn */
.store-btns .inner {
  border-top: 1px solid #a3a4a770;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.store-btns .favorite_share {
  display: flex;
}
.store-btns .btn {
  cursor: pointer;
}
.store-btns .btn a {
  color: #fff;
  display: flex;
  align-items: center;
}
.store-btns .btn:hover a {
  color: #415e94;
}
.store-btns .btn a .material-icons {
  padding-right: 6px;
}
.store-btns .favorite.btn a .material-icons {
  color: #FF0000;
}

/* store-info */
.store-info .inner {
  border-top: 1px solid #a3a4a770;
  padding: 20px;
}
.store-info .info {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 2;
}
.store-info .info .material-icons {
  padding: 0 20px 0;
  color: #a3a4a7;
}
.store-info .call.info p {
  cursor: pointer;
}
.store-info .call.info:hover p {
  color: #5A80C9;
  text-decoration: underline;
}
.store-info .sns.info .sns-group a:hover {
  color: #5A80C9;
  text-decoration: underline;
}

/* store-menu */
.store-menu .inner {
  border-top: 1px solid #a3a4a770;
  padding: 20px;
}
.store-menu h3 {
  padding: 0 20px 20px;
}
.store-menu .menu-group {
  padding: 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.store-menu .menu-group .menu {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
}
.store-menu .menu-group .menu img {
  width: 200px;
  padding-bottom: 10px;
}
.store-menu .menu-group .menu .menu-info h4 {
  font-size: 16px;
  font-weight: 600;
}
.store-menu .menu-group .menu .menu-info p {
  font-size: 14px;
  font-weight: 600;
  color: #e03939;
}











/* footer */
footer {
  background-color: #F3F7FF;
}
footer .inner {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
}
footer .logo h2 {
  font-size: 20px;
  font-weight: 600;
}
footer .bottom-menu {
  margin-bottom: 10px;
}
footer .bottom-menu ul {
  display: flex;
  justify-content: center;
}
footer .bottom-menu ul li {
  font-size: 15px;
}
footer .bottom-menu ul li:hover {
  color: #5A80C9;
  cursor: pointer;
}
footer .bottom-menu ul li + li {
  padding-left: 30px;
}
footer .sns a img {
  width: 25px;
  height: 25px;
}
footer .sns a + a {
  margin-left: 25px;
}
footer .info ul {
  display: flex;
}
footer .info ul li + li {
  padding-left: 30px; 
}
footer .copyright p {
  margin: 10px 0 10px;
}

/* to-top 버튼 */
#to-top {
  width: 40px;
  height: 40px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: #5A80C9;
  border: 3px solid #5A80C9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
}
#to-top:hover {
  background-color: #5A80C9;
  color: #fff;
  border: 3px solid #fff;
}
#to-top span{
  font-size: 30px;
}

/* 즐겨찾기 창 */
#favorite-icon {
  background-color: #c2d6fc;
  width: 40px;
  height: 100px;
  border: 3px solid #4c6eac9d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 190px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
}
#favorite-icon:hover {
  background-color: #fff;
  color: #5A80C9;
}
.favorite-view {
  background-color: #4949496b;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 12;
}
.favorite-view.active {
  display: block;
}
.favorite-view .favorite-bg {
  background-color: #fff;
  border: 5px solid #415e94;
  border-radius: 10px;
  width: 900px;
  height: 900px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.favorite-view .favorite-bg .favorite-list {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}
.favorite-view .favorite-bg .favorite-list .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.favorite-view .favorite-bg .favorite-list .btn-close:hover {
  color: #4c6eac;
}
.favorite-view .favorite-bg .favorite-list h2 {
  color: #415e94;
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.favorite-view .favorite-bg .favorite-list p {
  color: #4a576e;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.favorite-view .favorite-bg .favorite-list .content {
  margin: 0 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.favorite-view .favorite-bg .favorite-list .content img {
  width: 250px;
  height: 188px;
}
.favorite-view .favorite-bg .favorite-list .content span {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.favorite-view .favorite-bg .favorite-list .content:hover span {
  color: #5A80C9;
}


@media screen and (max-width: 1060px) {
  header .inner {
    justify-content: space-around;
  }
  header .main-menu {
    display: none;
  }
  header .btn-header {
    display: none;
  }
  header .btn-hamburger {
    display: block;
    }
}